@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Coolvetica";
    src: url("../swaranusa_project/assets/Coolvetica\ Rg.otf") format("opentype");
    font-weight: bold;
}

/* Reset default browser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #f8f8f8;
    font-family: "Coolvetica", sans-serif;
    height: 100%;
}

.menu-container {
    display: flex;
    min-height: 100vh;
}

/* Letf Side (Sidebar) */
.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    color: #ffffff;
    background-color: #131010;
    width: 200px;
    padding: 25px 0;
}

.left-side .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-bottom: 1px solid #ffffff;
    width: 200px;
    margin-bottom: 25px;
}

.left-side .logo-text h1 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.left-side .logo-text img,
.left-side .logo-text h1 {
    padding-bottom: 25px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.sidebar-menu a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 15px 0;
    transition: 0.3s;
}

.sidebar-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 200px;
}

/* Right Side (Navbar + Content) */
.top-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    background-color: #ffffff;
    width: calc(100% - 200px);
    height: 40px;
    padding: 0 40px;
}

.top-navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.top-navbar ul li a {
    color: #333333;
    text-decoration: none;
    font-size: 16px;
}

.content-area {
    padding: 65px 50px;
}

.content-area h1 {
    margin-bottom: 20px;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.container-top {
    display: flex;
    gap: 25px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
}

.card h3 {
    color: #000000;
}

.card p {
    color: #543a14;
    font-size: 24px;
}

.card img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    width: 200px;
    height: auto;
}

.container-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.container-bottom button {
    color: #000000;
    background-color: #f0bb78;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Coolvetica", sans-serif;
    max-width: 175px;
    padding: 10px 0;
    transition: 0.3s;
}

.container-bottom button:hover {
    background-color: #d9a76a;
}

.container-flex {
    display: flex;
    flex-direction: column;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row1 h3,
.row2 p,
.row2 div,
.row3 p,
.row3 div,
.row4 p,
.row4 div {
    flex: 1;
}

.row1 {
    color: #6c6c6c;
    background-color: #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding: 15px;
}

.row2,
.row3,
.row4 {
    border-bottom: 1px solid #eeeeee;
    padding: 10px;
}

.row1 div,
.row2 div,
.row3 div,
.row4 div {
    display: flex;
    gap: 10px;
}

.row1 div button:first-child,
.row2 div button:first-child,
.row3 div button:first-child,
.row4 div button:first-child {
    color: #000000;
    background-color: #f0bb78;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.row1 div button:first-child:hover,
.row2 div button:first-child:hover,
.row3 div button:first-child:hover,
.row4 div button:first-child:hover {
    background-color: #d9a76a;
}

.row1 div button:last-child,
.row2 div button:last-child,
.row3 div button:last-child,
.row4 div button:last-child {
    color: #ffffff;
    background-color: #e57373;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.row1 div button:last-child:hover,
.row2 div button:last-child:hover,
.row3 div button:last-child:hover,
.row4 div button:last-child:hover {
    background-color: #d15f5f;
}
