@font-face {
    font-family: "Coolvetica";
    src: url("../swaranusa_project/assets/Coolvetica\ Rg.otf") format("opentype");
    font-weight: bold;
}

/* Reset default browser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    height: 100%;
}

.menu-container {
    display: flex;
    min-height: 100vh;
}

/* Left Side (Sidebar) */
.left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    color: #ffffff;
    background-color: #131010;
    width: 200px;
    padding: 25px 0;
}

.left-side .logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-bottom: 1px solid #ffffff;
    width: 200px;
    margin-bottom: 25px;
}

.left-side .logo-text h1 {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.left-side .logo-text img,
.left-side .logo-text h1 {
    padding-bottom: 25px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

.sidebar-menu a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 15px 0;
    transition: 0.3s;
}

.sidebar-menu a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 200px;
}

/* Right Side (Navbar + Content) */
.top-navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    background-color: #ffffff;
    width: calc(100% - 200px);
    height: 40px;
    padding: 0 40px;
}

.top-navbar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.top-navbar ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
}

.content-area {
    padding: 65px 50px 65px 50px;
}

.content-area h1 {
    margin-bottom: 20px;
}

.kelola-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.kelola-profile img {
    border-radius: 50%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.kelola-content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.kelola-left,
.kelola-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.kelola-left div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.kelola-left div .cursor-pointer {
    cursor: pointer;
}

.kelola-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.kelola-right .cursor-pointer {
    cursor: pointer;
}

.kelola-left div,
.kelola-right {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    flex: 1;
    max-width: 470px;
    min-width: 300px;
}
